@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.menu-holder{
    .menu-show{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 500px;
        background: #fffffff3;
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        z-index: 2;
        opacity: 0;
        animation: fadeIn 0.2s ease-in forwards;
        
        a{
            width: 100%;
            border: 0.1px solid #45454528;
            border-right: none;
            border-left: none;
            text-align: center;
            padding: 15px;
            text-decoration: none;
            color: #454545b0;
            font-family: 'Manrope', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
        
        &__button{
            width: 90%;
            height: 55px;
            background: #454545;
            border: 1px solid #454545;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 21.86px;
            color: #FFFFFF;
            border-radius: 100px;
            margin-top: 15px;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover{
                background: #45454500;
                color: #454545;
            }
        }
        
        .menu__contact{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-size: 18px;
            a{
                border: none;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
