.title__start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    h2{
        font-size: 34px;
        @media(max-width:600px){
            font-size: 25px;
        }
    }

    button{
        background: none;
        border: 1px solid #454545;
        padding: 0.8rem 2rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 20px;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;

        &:hover {
        background-color: black;
        color: white;
        }

        @media (max-width: 768px) {
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
        }
        @media(max-width: 608px){
            display: none;
        }
    }
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
    @media (max-width: 576px) {
        font-size: 1.2rem;
    }
}