@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
.content{
    .container.new{
        max-width: 1500px;
        padding: 0 20px;
    }
}
.custom-swiper{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    background: #F2F2F2;
    .swiper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        @media(max-width:1400px){
            padding: 0 20px;
        }
        @media(max-width:900px){
            flex-direction: column-reverse;
        }
        .text__content{
            display: flex;
            align-items: center;
            flex-direction: column;
            h1{
                font-size: 64px;
                max-width: 500px;
                line-height: 87.42px;
                font-family: 'Manrope', sans-serif;
                color: #454545;
                @media(max-width:1300px){
                    min-width: 430px;
                    font-size: 35px;
                    line-height: 60px;
                }
                @media(max-width:900px){
                    min-width: 257px;
                    line-height: 38.25px;
                    font-size: 40px;
                    font-weight: 700;
                }
                @media(max-width:600px){
                    min-width: 100%;
                    font-size: 23px;
                }
                span{
                    display: inline-block;
                    background: #454545;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 100px;
                    @media(max-width:450px){
                        padding: 5px 10px;
                    }
                }
            }
        }
        .image{
            img{
                width: 100%;
                height: 453px;
                object-fit: contain;
            }
            @media(max-width:900px){
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                img{
                    width: 100%;
                    height: 275px;
                    object-fit: contain;
                }
            }
        }
    }
}