.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
  
    &__top-links {
        display: flex;
        justify-content: space-between;
      .left{
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        font-size: 0.85rem;
        color: #666;
        @media(max-width:768px){
          display: none;
        }
      }
      .right{
        @media(max-width:768px){
          display: none;
        }
        span{
            color: #454545;
            font-weight: 600;
            margin-right: 10px;
        }
        a{
            font-size: 14px;
            color: #454545;
        }
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: #333;
        }
      }
    }
  
    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
  
    &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      .menu{
        display: none;
        font-size: 30px;
        @media(max-width:768px){
          display: flex;
        }
      }
        a{
            color: black;
            text-decoration: none;
            list-style: none;   
            @media(max-width: 583px){
              font-size: 13px;
            }
            @media(max-width: 433px){
              font-size: 10px;
            }
        }
    }
  
    &__catalog {
      .catalog-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        height: 50px;
        background: #454545;
        color: #fff;
        padding: 8px 20px;
        margin-left: 10px;
        width: 153px;
        border-radius: 100px;
        text-align: center;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover{
          background: #666;
        }
        @media(max-width:900px){
          display: none;
        }
  
        .catalog-icon {
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
    }
  
    &__search {
      position: relative;
      display: flex;
      flex: 1;
      max-width: 626px;
      height: 50px;
      margin: 0 20px;
      @media(max-width:583px){
        display: none;
      }
  
      input {
        width: 100%;
        padding: 8px 15px;
        border: 1px solid #ddd;
        border-radius: 100px;
        outline: none;
      }
  
      .search-icon {
        position: absolute;
        right: 15px;
        top: 55%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #aaa;
      }
    }
  
    &__icons {
      display: flex;
      gap: 20px;
      .icon-wrapper.special{
        @media(max-width:700px){
          display: none;
        }
      }
  
      .icon-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #333;
        a{
          color: #333;
        }
        font-size: 0.8rem;
        position: relative;
        cursor: pointer;
        @media(max-width: 583px){
          font-size: 0.6rem;
        }
        @media(max-width: 433px){
          font-size: 0.5rem;
        }
        .icon {
          font-size: 1.5rem;
        }
  
        &:hover {
          color: #000;
        }
  
        &.cart .cart-badge {
          position: absolute;
          top: -5px;
          right: -10px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          font-size: 0.7rem;
          padding: 2px 5px;
          font-weight: bold;
        }
      }
    }
  
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.85rem;
      color: #666;
  
      span {
        font-weight: bold;
      }
  
      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
.header__search.media{
  display: none;
  margin: 5px 0;
  @media(max-width: 583px){
    display: block;
  }

  input {
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #ddd;
    border-radius: 100px;
    outline: none;
  }
}
.no-scroll{
  overflow: hidden;
}